.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}

.row__field {
    display: flex;
    flex-direction: column;
    padding: 0 5px 20px 0;
}

.row__field input,
.galeria button {
    background-color: #f9f9f9;
    border-radius: 12px;
    margin-top: 5px;
    padding: 10px 20px;
    width: 600px;
    border: none;
    font-size: 18px;
}

.galeria button {
    background-color: #7B78E5;
    transition: 3s all;
    margin-bottom: 5px;
}

.galeria button:hover {
    background-color: #c98ef1;
    cursor: pointer;
}

#id_senha_1, #id_senha_2 {
    width: 250px;
}
